.pozole-imagen{
    margin-top: 10px;
    margin-left: 15px;
}
.header-poz{
    background: black;
    height: 70px;
    margin: 0px;
}
.lista-menu{
    color: white;
    display: flex;
}
.div-menu{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    margin-right: 25px;
    font-size: 20px;
}
footer{
    background: black;
    height: 330px; 
}
.footer-p{
    width: 540px;
    height: 220px;
    color: white;
    margin-left: 104px;
    margin-bottom: 20px;
}
.footer-h{
    color: white;
    margin-left: 104px;
}
.pozole-imagen-footer{
    margin-top: 81px;
    margin-right: 70px;
    margin-bottom: 100px;
}