
/* Plato */
.pozole-imagen{
    margin-top: 10px;
    margin-left: 15px;
}
.header-poz{
    background: black;
    height: 70px;
}
.lista-menu{
    color: white;
    display: flex;
}
.div-menu{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    margin-right: 25px;
    font-size: 20px;
}