.div-header {
  border: black solid;
  background-color: gainsboro;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.div-nav {
  border: black solid;
  background-color: gainsboro;
  text-align: center;
  margin: 10px;
}
.div-dos{
  border: black solid;
  background-color: gainsboro;
  text-align: center;
  width: 20%;
  height: 300px;
  margin: 10px;
}
.div-uno{
    border: black solid;
    background-color: gainsboro;
    text-align: center;
    width: 60%;
    height: 300px;
    margin-top: 10px;
  }
.div-main {
    display: flex;
    justify-content:center;
}
section {
  border: 1px solid blue;
  width: 100%;
  float: left;
}
.div-footer{
    border: black solid;
    background-color: gainsboro;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
.clear-fix{
    clear: both;
    float: none;
}