.zhi{
    font-family: 'Zhi Mang Xing', cursive;
}
.gamja{
    font-family: 'Gamja Flower', cursive;
}
.press{
    font-family: 'Press Start 2P', cursive;
}
.metal{
    font-family: 'Metal Mania', cursive;
}
.butch{
    font-family: 'Butcherman', cursive;
}