body{
    background:white;
}
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: gainsboro;
    margin: 0px;
    padding: 0px;
}
.parrafoHeader{
    font-size: 15px;
    text-align: justify;
    background: rgb(182, 180, 180);
    margin-top: 5px;
    padding: 0px;
}
.encabezado{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background: gray;
}
.datos p{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 1px;
    background: rgb(182, 180, 180);
    text-decoration:underline ;
}
.datosDos p{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 1px;
    background: rgb(182, 180, 180);
}
.datos span{
    text-decoration: underline;
    color: black;   
}