body{
    background-image: url("https://i.pinimg.com/736x/55/e4/fd/55e4fdf5440f722acf98d05189405141.jpg");
    /* Hace que toda la imagen utilice la pantalla */
    background-size:cover ;
}
header{
    background-color:blueviolet ;
}
.title{
    text-align: center;
    color: royalblue;
    background-color:black ;
    border: 8px dotted red;
    padding: 10px;
    margin: 50px;
}
.subtitle{
    background-color:red ;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 30px;
}
#caja{
    background: black;
    color: white;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    padding: 20px;
}
#cajaDos p{
    background-color: blue;
    color: white;
    width: 500px;
    margin: auto;
}