.title{
    text-align: center;
    color: royalblue;
    background-color:black ;
    border: 8px dotted red;
    padding: 10px;
    margin: 50px;
}
.subtitle{
    background-color:red ;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 30px;
}
#caja{
    background: chartreuse;
}